:root{
    --basic-red: rgb(238, 54, 67, 1);
    --basic-green: rgb(99, 166, 62);
    --basic-grey: rgb(61, 84, 111);
    --basic-greylight: rgb(197, 197, 197);
    --basic-background: rgb(241, 245, 247);

    --white: rgb(255, 255, 255);
    --blue: rgb(59, 188, 227);
    --pink: rgb(220, 145, 216);
    --green: rgb(142, 215, 143);
    --black: rgb(0, 0, 0);

    --special-yellow: rgb(255, 191, 71);
    --success: rgb(95, 187, 45);
    --error: rgb(186, 39, 50);

    --text: rgb(50, 66, 92);
    --strike: rgb(169, 169, 169);
    --header-top: rgb(41, 52, 73);
    --footer-nav-down: rgb(255, 209, 128);
    --text-address: rgb(243, 247, 249);
    --stile-background: rgb(249, 245, 240);
    --feedback: rgb(244, 244, 244);
    --catalog-item--border: rgb(234, 234, 234);
    --info-button: rgba(255, 255, 255, 0.3);
    --info-button--hover: rgba(197, 197, 197, 0.3);
    --info-button--active: rgba(169, 169, 169, 0.3);
    --button: var(--basic-red);
    --button--hover: rgba(202, 44, 55);
    --button--active: rgba(186, 39, 50);
    --user-navigation--link: var(--black);
    --user-navigation--link---hover: var(--basic-red);
    --user-navigation--link---active: var(--basic-grey);
    --user-navigation--link---background: rgba(0, 0, 0, 0.0001);
    --contact-phone--border: var(--white);
    --logo--background: var(--basic-red);
    --logo--background---active: var(--error);
    --logo--box-shadow: rgba(0, 0, 0, 0.24);
    --user-link: var(--white);
    --user-link--active: rgba(255, 255, 255, 0.5);
    --user-link--checkout: var(--basic-green);
    --user-link--checkout---hover: var(--success);
    --site-navigation--shadow: var(--header-top);
    --manufact-item--border: rgba(234, 234, 234);
    --manufact-img--box-shadow: rgba(0, 0, 0, 0.15);
    --services-item--background: var(--text);
    --services-item--background---hover: var(--header-top);
    --services-item--background---active: var(--white);
    --socials-link: rgba(33, 42, 58);
    --socials-link--act-hov: var(--basic-red);
    --catalog-buy--shadow: rgba(54, 115, 21);
    --catalog-buy--background: var(--basic-green);
    --catalog-buy--background---hover: var(--success);
    --catalog-buy--background---active: rgba(81, 133, 52);
    --catalog-bookmarks: rgba(99, 166, 62);
    --catalog-bookmarks--hover: rgba(50, 66, 92);
    --catalog-page--border: rgba(229, 229, 229);
    --catalog-page--border---hover: rgba(197, 197, 197);
    --catalog-page--border---active: rgba(238, 54, 67);
    --filters-item--background: rgba(247, 243, 236, 1);
    --popup-cart-down: rgba(241, 241, 241);
    --filter-button--border: rgba(229, 229, 229);
}
/*
shadow
background: rgb(196, 196, 196);
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
*/

body {
    min-width: 940px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    color: var(--black);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
.hiden {
    display: none;
}


.main-header{
    background-color: var(--basic-background);
}
.main-header--top{
    font-size: 16px;
    line-height: 20px;
    background-color:var(--header-top);
}
.logo{
    background-color: var(--logo--background);
    padding-top: 13.02px;
    padding-left: 55.78px;
    padding-right: 57.4px;
    padding-bottom: 17.5px;
    box-shadow: inset 0px -5px 0px var(--logo--box-shadow);
/* пока это всё примерно, при сетках уже подгоню точнее*/
}
.logo:active{
    background-color: var(--logo--background---active);
    box-shadow: inset 0px -5px 0px var(--logo--box-shadow);
}
.logo-img {
    vertical-align: middle;
}
.input-search {
    margin-top: 30px;
    color: var(--white);
    background-color: var(--header-top);
    border: none;
}
.input-search:focus {
    background-color: var(--white);
    color: var(--black);
}
.user-list {
    list-style: none;
}
.user-link {
    font-size: 16px;
    line-height: 20px;
    color: var(--user-link);
    text-decoration: none;
}
.user-link:active {
    color: var(--user-link--active);
}
.user-link--checkout{
    background-color: var(--user-link--checkout);
}
.user-link--checkout:hover {
    background-color: var(--user-link--checkout---hover);
}
.slogan {
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    text-align: left;
    color: var(--basic-red);
}
.contact-phone{
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: var(--basic-red);
    text-decoration: none;
    border: 3px solid var(--contact-phone--border);
}
.contact-adress{
    font-size: 14px;
    /*text-align: center;*/
    color: var(--text);
}

.user-navigation--link{
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: var(--user-navigation--link);
    text-decoration: none;
    background-color: var(--user-navigation--link---background);
}
.user-navigation--link:hover {
    color: var(--user-navigation--link---hover);
}
.user-navigation--link:active {
    color: var(--user-navigation--link---active);
}
/*catalog*/
.box--authorized-visitor--link {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    background-color: var(--user-navigation--link---background);
    color: var(--user-navigation--link);
}
.box--user-menu--link {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: var(--text);
    text-decoration: none;
}
.icon-user:hover,
.icon-exit:hover {
    /*color: var(--basic-grey);*/
}
.box--user-menu--link:hover {
    color: var(--basic-red);
}
.box--authorized-visitor--link:active,
/*.icon-user:active,
.icon-exit:active,*/
.box--user-menu--link:active {
    color: var(--basic-greylight);
}
/* end catalog*/

.site-navigation{
    background-color:var(--text);
    box-shadow: inset 0px -5px 0px var(--site-navigation--shadow);
}
.main-menu{
    list-style: none;
}
.main-menu--link{
    text-align: left;
    color:var(--white);
    text-decoration: none;
}
.main-menu--link:hover {
    background-color: var(--header-top);
}
.main-menu--link:active {
    background-color: var(--header-top);
    opacity: 0.5;
}

.container {
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 auto;
    width: 960px;
}
.info-section {
    display: grid;
    grid-template-areas: "info";
}
.info-list{
    list-style: none;
    padding-left: 0;
    margin: 0;
    display:grid;
    grid-area: info;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    gap: 20px;
}

ul.info-list::after{
    content: "";
    display: block;
    grid-column: 1/3;
    grid-row: 2/4;
}
.info-slider {
    grid-area: info;
    margin-top: 143px;

}
.info-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: var(--white);
    /*padding: 20px,163px,73px,23px;*/
}
.info {
    width: 300px;
    height: 123px;
    background-repeat: no-repeat;
    background-position: 213px;
}
.materials {
    background-color: var(--special-yellow);
    background-image: url("../img/icon/materials.svg");
}
.tools {
    background-color: var(--blue );
    background-image: url("../img/icon/tools.svg");
}
.technics {
    background-color: var(--pink);
    background-image: url("../img/icon/technics.svg");
}
.discount {
    background-color: var(--green);
    background-image: url("../img/icon/discount.svg");
}
.delivery {
    background-color: var(--special-yellow);
    background-image: url("../img/icon/delivery.svg");
}
.info-button {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: var(--white);
    background-color: var(--info-button);
    border: none;
    padding-left: 23px;
    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 10px;
}
.info-button:hover {
    background-color: var(--info-button--hover);
}
.info-button:active {
    background-color: var(--info-button--active);
}
.slider-perf {
    background-image: url("../img/slider-perf.jpg");
    background-repeat: no-repeat;
    width: 620px;
    height: 266px;
}
.slider-drill {
    background-image: url("../img/slider-drill.jpg");
    background-repeat: no-repeat;
    width: 620px;
    height: 266px;
}
.info-slider-title {
    margin-top: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: var(--white)
}
.info-slider-text {
    text-align: left;
    color: var(--white)
}
.button {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: var(--white);
    background-color: var(--button);
    text-decoration: none;
    border: none;
}
.info-slider-link{
    padding-top: 11px;
    padding-left: 46px;
    padding-right: 46px;
    padding-bottom: 9px;
}
.button:hover{
    background-color: var(--button--hover);
}
.button:active {
    background-color: var(--button--active);
}


.interactive-heading {
    background-color: var(--stile-background);
}
.interactive-heading--title {
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    color: var(--text);
}

.interactive-heading--link {
    width: 192px;
    height: 38px;
    padding-left: 24px;
    padding-top: 11px;
    padding-right: 24px;
    padding-bottom: 9px;
}


.catalog {
    margin-bottom: 70px;
}
.catalog-list {
    list-style: none;
    padding-left: 0;
}
.main-catalog-list {
    display: grid;
    width: 940px;
    grid-template-columns: 220px 220px 220px 220px;
    gap: 20px;
}
.catalog-item {
    width: 220px;
    height: 318px;
    border: 1px solid var(--catalog-item--border);
}
.catalog-item:hover{
    box-shadow: 0px 4px 20px var(--manufact-img--box-shadow)
}

.catalog-subtitle {
    margin: 0;
    padding: 0;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    /*margin-left: 18px;
    margin-right: 17px;*/
}

.catalog-strike {
    margin: 0;
    padding: 0;
    font-family: "PT Sans";
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: var(--strike)
}
.catalog-link {
    display: block;
    margin: 0;
    font-family: "PT Sans";
    font-size: 17px;
    font-weight: 700;
    width: 141px;
    height: 38px;
}
.catalog-image--box {
    transform-style: preserve-3d;
    transition: transform .7s;
    transition-property: transform;
    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-delay: 0s;
    perspective: 900px;
    -webkit-perspective: 900px;

}
.catalog-image--box:hover {
    transform: rotateY(180deg);
}
.catalog-img {
    display: block;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.catalog-image--link{
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    display: block;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateY(180deg);
}
.catalog-buy {
    color: var(--white);
    background-color: var(--catalog-buy--background);
    box-shadow: inset 0px -3px 0px var(--catalog-buy--shadow);
    border-radius: 2px;
}
.catalog-buy:hover {
    background-color: var(--catalog-buy--background---hover);
}
.catalog-buy:active {
    background-color: var(--catalog-buy--background---active);
}
.catalog-bookmarks {
    color: var(--text);
    border: 3px solid var(--catalog-bookmarks);
    box-sizing: border-box;
    border-radius: 2px;
}
.catalog-bookmarks:hover {
    border: 3px solid var(--catalog-bookmarks--hover);
}
.catalog-bookmarks:active {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}



.manufact {
    margin-bottom: 70px;
}
.manufact-list {
    list-style: none;
    padding-left: 0;
    display: grid;
    width: 940px;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 145px 145px;
    gap: 20px;
}
.manufact-img {
    border: 1px solid var(--manufact-item--border);
}
.manufact-img:hover {
    box-shadow: 0px 4px 20px var(--manufact-img--box-shadow);
}
.manufact-img:active {
    opacity: 0.5;
    box-shadow: 0px 4px 20px var(--manufact-img--box-shadow);
}

.services {
    background-color: var(--basic-background);
    display: grid;
    grid-template-columns: 180px 1fr;
    justify-self: end;
    padding-left: 130px;
    padding-right: 130px;
}
.services-block {
    grid-column: 1 / -1;
}
.services-slider {
    justify-self: end;
}

/* с этим слайдером вообще попозже разберусь
пока не разберусь как делать сдайдер
всё только для глаза
а не итоговая работа */
.services-title {
    font-size: 30px;
    line-height: 30px;
    text-align: left;
}
.services-text {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
    text-align: left;
}
.services-list {
    list-style: none;
    padding-left: 0;
}
.services-item {
    width: 240px;
    height: 61px;
    background-color: var(--services-item--background);
    color: var(--white);
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}
.services-item:hover {
    background-color: var(--services-item--background---hover);
}
.services-item:active {
    background-color: var(--services-item--background---active);
    color: var(--text);
}
.services-subtitle {
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    color: var(--text);
}
.services-text {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
    text-align: left;
}
.services-delivery {
    background-image: url("../img/contacts/delivery.png");
    background-repeat: no-repeat;
    background-position: end;
    width: 465px;
    height: 285px;
}

.services-guarantee {
    background-image: url("../img/contacts/guarantee.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 465px;
    height: 285px;
}
.services-credit {
    background-image: url("../img/contacts/credit.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 465px;
    height: 285px;
}



.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 70px;
}

.details-contacts {
    justify-self: end;
}
.details-tittle {
    font-size: 30px;
    line-height: 30px;
    text-align: left;
}
.details-text {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
    text-align: left;
}
.details-items {
    text-align: left;
}
.details-about-link {
    padding-top: 11px;
    padding-left: 39.71px;
    padding-right: 40.29px;
    padding-bottom: 9px;

}
.details-contacts-link {
    padding-top: 11px;
    padding-left: 61.88px;
    padding-right: 61.12px;
    padding-bottom: 9px;

    display: block;
    width: 300px;
    height: 38px;
    padding: 0;
}



.main-footer{
    background-color: var(--header-top);
}
.footer-top {
    background-color: var(--text);
}
.footer-navigation {
    list-style: none;
}
.footer-navigation--link{
    text-align: left;
    text-decoration: none;
}
.footer-navigation--link:active {
    opacity: 0.5;
}
.footer-navigation--link:hover {
    text-decoration: underline;
}
.up{
    color: var(--basic-background)
}
.down{
    color: var(--footer-nav-down)
}
.text-address {
    align-items: center;
    color: var(--text-address)
}
.shop-phone-footer {
    text-decoration: none;
}
.content--text {
    font-size: 16px;
    text-align: left;
    color: var(--white);
}

/* декоративная часть ведь позже
тогда и скрою текст*/
.socials-list {
    list-style: none;
}
.socials-link {
    background-color: var(--socials-link);
}
.socials-link:hover {
    background-color: var(--socials-link--act-hov);
}
.socials-link:active {
    background-color: var(--socials-link--act-hov);
}
.responsiveness-link {
    color: var(--footer-nav-down);
    text-decoration: none;
}
.responsiveness-link:hover {
    text-decoration: underline;
}
.responsiveness-link:active {
    color: var(--basic-red);
}


.feedback-label{
    text-align: left;
}
.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    color: var(--strike);
    border: 2px solid var(--basic-greylight)
}
.feedback-block{
    background-color: var(--feedback);
    width: 620px;
    height: 112px;
}


/*
catalog
*/
.page-catalog {
    display: grid;
    grid-template-columns: 220px 1fr;
    align-content: start;
}
.page--catalog-title {
    grid-column: 1 / -1;
}
.filters-list {
    padding-left: 0;
    grid-column: 1 / -1;
}
.page--catalog-list{
    display: grid;
    width: 700px;
    grid-template-columns: 220px 220px 220px;
    gap: 20px;
}
.container-list {
    list-style: none;
    padding-left: 0;
    grid-column: 1 / -1;
}
.page--catalog-section {
    margin-left: 20px;
}
.container-link {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    text-decoration: none;
    color: var(--black);
}



.filters-list {
    list-style: none;
}
.filters-item {
    background-color: var(--filters-item--background);
}
.filters-text {
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 18px;
    text-align: left;
}
.filters-link {
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    text-decoration-style: dotted;
    text-decoration-color: var(--basic-red);
    color: var(--black);
    opacity: 0.3;
}
.filters-link:hover {
    opacity: 1;
    text-decoration-style: solid;
}
.filters-link:active {
    text-decoration: none;
    color:  var(--basic-red);
}
.filter-label {
    font-family: "PT Sans";
    font-size: 15px;
    line-height: 19px;
}
.filter-button {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--filter-button--border);
    text-decoration: none;
}

.catalog-title {
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    background-color: var(--basic-background);
    color: var(--text);
}

.tool-information {
    background-color: var(--basic-background);
}
.tool-information--text{
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
    text-align: left;
}
.catalog-page--list{
    list-style: none;
}
.catalog-page-link {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    color: var(--black);
    border: 1px solid var(--catalog-page--border);
    box-sizing: border-box;
    border-radius: 2px;
}
.catalog-page-link:hover {
    border: 1px solid var(--catalog-page--border---hover);
}
.catalog-page-link:active {
    border: 1px solid var(--catalog-page--border---active);
}
.popup-cart {
    background-color: var(--white);
}
.popup-cart-down {
    background-color: var(--popup-cart-down);
}
.popup-cart--text {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}
.continue-button {
    color: var(--black);
    background-color: var(--white);
}


