:root{
    --basic-red: rgb(238, 54, 67, 1);
    --basic-green: rgb(99, 166, 62);
    --basic-grey: rgb(61, 84, 111);
    --basic-greylight: rgb(197, 197, 197);
    --basic-background: rgb(241, 245, 247);

    --white: rgb(255, 255, 255);
    --blue: rgb(59, 188, 227);
    --pink: rgb(220, 145, 216);
    --green: rgb(142, 215, 143);
    --black: rgb(0, 0, 0);

    --special-yellow: rgb(255, 191, 71);
    --success: rgb(95, 187, 45);
    --error: rgb(186, 39, 50);

    --text: rgb(50, 66, 92);
    --strike: rgb(169, 169, 169);
    --header-top: rgb(41, 52, 73);
    --footer-nav-down: rgb(255, 209, 128);
    --text-address: rgb(243, 247, 249);
    --stile-background: rgb(249, 245, 240);
    --feedback: rgb(244, 244, 244);
    --catalog-item--border: rgb(234, 234, 234);
    --info-button: rgba(255, 255, 255, 0.3);
    --info-button--hover: rgba(197, 197, 197, 0.3);
    --info-button--active: rgba(169, 169, 169, 0.3);
    --button: var(--basic-red);
    --button--hover: rgba(202, 44, 55);
    --button--active: rgba(186, 39, 50);
    --user-navigation--link: var(--black);
    --user-navigation--link---hover: var(--basic-red);
    --user-navigation--link---active: var(--basic-greylight);
    --user-navigation--link---background: var(--white);
    --contact-phone--border: var(--white);
    --logo--background: var(--basic-red);
    --logo--background---active: var(--error);
    --logo--box-shadow: rgba(0, 0, 0, 0.24);
    --user-link: var(--white);
    --user-link--active: rgba(255, 255, 255, 0.5);
    --user-link--checkout: var(--basic-green);
    --user-link--checkout---hover: var(--success);
    --site-navigation--shadow: var(--header-top);
    --manufact-item--border: rgba(234, 234, 234);
    --manufact-img--box-shadow: rgba(0, 0, 0, 0.15);
    --services-item--background: var(--text);
    --services-item--background---hover: var(--header-top);
    --services-item--background---active: var(--white);
    --socials-link: rgba(33, 42, 58);
    --socials-link--act-hov: var(--basic-red);
    --catalog-buy--shadow: rgba(54, 115, 21);
    --catalog-buy--background: var(--basic-green);
    --catalog-buy--background---hover: var(--success);
    --catalog-buy--background---active: rgba(81, 133, 52);
    --catalog-bookmarks: rgba(99, 166, 62);
    --catalog-bookmarks--hover: rgba(50, 66, 92);
    --catalog-page--border: rgba(229, 229, 229);
    --catalog-page--border---hover: rgba(197, 197, 197);
    --catalog-page--border---active: rgba(238, 54, 67);
    --filters-item--background: rgba(247, 243, 236, 1);
    --popup-cart-down: rgba(241, 241, 241);
    --filter-button--border: rgba(229, 229, 229);
    --box-shadow: rgba(0, 0, 0, 0.15);
    --input--hover: rgba(181, 181, 181);
    --box-shadow--slider: rgba(0, 0, 0, 0.25);
    --range-filter--background: rgba(247, 243, 236);
    --range-control--background: rgba(171, 171, 171);
    --price-control-dash: rgba(68, 68, 68);


}
/*
shadow
background: rgb(196, 196, 196);
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
*/

body {
    min-width: 940px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    color: var(--black);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.main-header{
    background-color: var(--basic-background);
    padding-bottom: 40px;
}
.main-header--top{
    font-size: 16px;
    line-height: 20px;
    background-color:var(--header-top);
}
.main-header--top-block {
    display: flex;
    align-items: center;
    width: 940px;
    height: 42px;
    margin: 0;
    padding: 0;
}
.logo{
    background-color: var(--logo--background);
    display: flex;
    align-items: center;
    width: 220px;
    height: 47px;
    box-shadow: inset 0px -5px 0px var(--logo--box-shadow);
}
.logo:active{
    background-color: var(--logo--background---active);
    box-shadow: inset 0px -5px 0px var(--logo--box-shadow);
}
.logo-img {
    display: block;
    margin: auto;
}
.input-search {
    width: 270px;
    height: 42px;
    color: var(--white);
    background-color: var(--header-top);
    border: none;
    outline: none;
    padding-left: 42px;
    font-family: "Cuprum";
    font-size: 18px;
}
.input-search:focus {
    background-color: var(--white);
    color: var(--black);
}
.form-search {
    position: relative;
}
.form-search:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 19px;
    margin: auto 0;
    width: 17px;
    height: 17px;
    background-image: url("../img/header/icon-search.svg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    pointer-events:none;
    filter: saturate(0) invert(100%);
}
.form-search:hover::before {
    opacity: 1;
}
.form-search:focus-within::before{
    opacity: 1;
    filter: none;
}
.user-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 450px;
    height: 42px;
}

.user-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 42px;
    padding: 9px 10px;
    box-sizing: border-box;
    color: var(--user-link);
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
}
.user-link:active {
    color: var(--user-link--active);
}
.user-link--checkout{
    background-color: var(--user-link--checkout);
}
.user-link--checkout:hover,
.user-link--checkout:focus {
    background-color: var(--user-link--checkout---hover);
}


.user-link--bookmark{
    position: relative;
    padding: 9px 11px 9px 6px;
}
.user-link--bookmark::before{
    content: "";
    width: 14px;
    height: 15.58px;
    background-image: url("../img/header/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-right: 10px;
    opacity: 0.3;
}
.user-link--bookmark:hover::before,
.user-link--bookmark:focus::before{
    opacity: 1;
}
.user-link--bookmark:active::before{
    opacity: 0.3;
}
.user-link--basket{
    position: relative;
}
.user-link--basket::before{
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("../img/header/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-right: 8px;
    opacity: 0.3;
}
.user-link--basket:hover::before,
.user-link--basket:focus::before{
    opacity: 1;
}

.user-link--basket:active::before {
    opacity: 0.3;
}
.user-link--basket-active{
    background-color: var(--basic-red);
}
.main-header--middle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.slogan {
    margin-left: 30px;
    padding-top: 27px;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    text-align: left;
    color: var(--basic-red);
}
.site-contact {
    display: block;
    text-align: center;
    padding: 0;
    margin-top: 45px;
    margin-left: 25px;
}
.contact-phone{
    margin: 0;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 252px;
    height: 40px;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    color: var(--basic-red);
    text-decoration: none;
    border: 3px solid var(--contact-phone--border);
}
.contact-phone--icon {
    position: relative;
}
.contact-phone--icon::before{
    content: "";
    width: 18px;
    height: 19px;
    background-image: url("../img/header/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-right: 16.51px;
}
.contact-adress{
    margin: 0;
    padding-top: 3px;
    font-size: 14px;
    color: var(--text);


}
.user-navigation {
    margin-top: 45px;
    display: flex;
}

.user-navigation--link{
    padding: 0;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    line-height: 21px;
    color: var(--user-navigation--link);
    text-decoration: none;
    background-color: var(--user-navigation--link---background);
    box-sizing: border-box;
}
.login-link {
    width: 121px;
    height: 45px;
    position: relative;
    padding: 13px 20px 12px 12px;
    margin-right: 10px;
}
.regist-link {
    width: 150px;
    height: 45px;
    padding: 9px 13px;
}
.user-navigation--link:hover,
.user-navigation--link:focus {
    color: var(--user-navigation--link---hover);
}
.user-navigation--link:active {
    color: var(--user-navigation--link---active);
}

.login-link::before{
    content: "";
    width: 20px;
    height: 17px;
    margin-right: 7px;
    background-color: var(--basic-greylight);
    -webkit-mask-image: url("../img/header/icon-login.svg");
        mask-image: url("../img/header/icon-login.svg");
  -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
  -webkit-mask-size: contain;
        mask-size: contain;
  -webkit-mask-position: center;
        mask-position: center;
}
.login-link:hover::before,
.login-link:focus::before{
    background-color: var(--basic-grey);
}
.login-link:active::before{
    background-color: var(--user-navigation--link---active);
}

/*catalog*/
.site-contact-catalog {
    margin-left: 42px;
}

.box--user-navigation{
    display: block;
    text-align: center;
    margin-top: 45px;
}
.box--authorized-visitor--link {
    box-sizing: border-box;
    display:inline-flex;
    padding: 13px 50px 12px 10px;
    justify-content: center;
    align-items: center;
    width: 299px;
    height: 45px;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    background-color: var(--user-navigation--link---background);
    color: var(--user-navigation--link);
}
.box--user-menu--link {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: var(--text);
    text-decoration: none;
}
.icon-user {
    position: relative;
}
.icon-user::before{
    content: "";
    margin-right: 21px;
    width: 20px;
    height: 18px;
    background-color: var(--basic-greylight);
    -webkit-mask-image: url("../img/header/icon-user.svg");
        mask-image: url("../img/header/icon-user.svg");
    -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
    -webkit-mask-size: contain;
        mask-size: contain;
     -webkit-mask-position: center;
        mask-position: center;
}
.icon-user:hover::before{
    background-color: var(--basic-grey);
}
.icon-user:focus::before{
    background-color: var(--basic-grey);
}
.icon-user:active::before{
    background-color: var(--user-navigation--link---active);
}
.icon-exit{
    position: relative;
    display: block;
}
.icon-exit::before{
    content: "";
    width: 20px;
    height: 17px;
    -webkit-mask-image: url("../img/header/icon-logout.svg");
        mask-image: url("../img/header/icon-logout.svg");
    -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
    -webkit-mask-size: contain;
        mask-size: contain;
    background-color: var(--basic-greylight);
    position: absolute;
    top: -30px;
    right: 17px;

}
.icon-exit:hover::before{
    background-color: var(--basic-grey);
}
.icon-exit:focus-within::before{
    background-color: var(--basic-grey);
}
.icon-exit:active::before{
    background-color: var(--user-navigation--link---active);
}
.box--user-menu--link:hover {
    color: var(--basic-red);
}
.box--user-menu--link:focus {
    color: var(--basic-red);
}
.box--authorized-visitor--link:active,
.box--user-menu--link:active {
    color: var(--basic-greylight);
}
.box--user-menu {
    margin-top: 8px;
    margin-left: 44px;
    display: flex;
    width: 210px;
    justify-content: space-between;
    position: relative;
}
.box--user-menu::before{
    content: "";
    position: absolute;
    padding: 0;
    width: 4px;
    height: 4px;
    background-color: var(--text);
    border-radius: 50%;
    top: 7px;
    left: 89px;
}

/* end catalog*/


.main-menu{
    list-style: none;
    margin-top: 30px;
    padding: 0 25px;
    display: flex;
    width: 940px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    background-color:var(--text);
    box-shadow: inset 0px -5px 0px var(--site-navigation--shadow);
    box-sizing: border-box;

}
.main-menu--link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 0 25px;
    color:var(--white);
    text-decoration: none;
}
.main-menu--link:hover {
    background-color: var(--header-top);
}
.main-menu--link:focus {
    background-color: var(--header-top);
}
.main-menu--link:active {
    background-color: var(--header-top);
    opacity: 0.5;
}
/*
main
*/

.container {
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 auto;
    width: 960px;
}
.info-section {
    display: grid;
    grid-template-areas: "info";
    padding-top: 61px;
    padding-bottom: 59px;
}
.info-list{
    list-style: none;
    padding-left: 0;
    margin: 0;
    display:grid;
    grid-area: info;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    gap: 20px;
}

ul.info-list::after{
    content: "";
    display: block;
    grid-column: 1/3;
    grid-row: 2/4;
}
.info-slider {
    grid-area: info;
    margin-top: 143px;
    list-style: none;
    padding: 0;
    position: relative;
}
.info-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: var(--white);
    margin-left: 22px;
    margin-top: 21px;
    margin-bottom: 14px;
    padding: 0;
}
.info {
    width: 300px;
    height: 123px;
    background-repeat: no-repeat;
    background-position: 213px;
}
.materials {
    background-color: var(--special-yellow);
    background-image: url("../img/icon/materials.svg");
    background-position: 213px 31px;
}
.tools {
    background-color: var(--blue );
    background-image: url("../img/icon/tools.svg");
    background-position: 194px 34px;
}
.technics {
    background-color: var(--pink);
    background-image: url("../img/icon/technics.svg");
    background-position: 191px 31px;
}
.discount {
    background-color: var(--green);
    background-image: url("../img/icon/discount.svg");
    background-position: 196px 26px;
}
.delivery {
    background-color: var(--special-yellow);
    background-image: url("../img/icon/delivery.svg");
    background-position: 191px 32px;
}
.info-button {
    margin-left: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 135px;
    min-height: 38px;
    padding: 10px 24px;
    color: var(--white);
    background-color: var(--info-button);
    border: none;
    font-family: "Cuprum";
    font-size: 14px;
    line-height: 18px;


}
.info-button:hover {
    background-color: var(--info-button--hover);
}
.info-button:focus {
    background-color: var(--info-button--hover);
}
.info-button:active {
    background-color: var(--info-button--active);
}
.slider-perf {
    background-image: url("../img/slider-perf.jpg");
    background-repeat: no-repeat;
    width: 620px;
    height: 266px;
}
.slider-drill {
    background-image: url("../img/slider-drill.jpg");
    background-repeat: no-repeat;
    width: 620px;
    height: 266px;
}
.info-slider-title {
    margin: 0;
    padding-top: 23px;
    padding-left: 24px;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: var(--white)
}
.info-slider-text {
    margin:0;
    padding-top: 6px;
    padding-left: 24px;
    text-align: left;
    color: var(--white)
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: var(--white);
    background-color: var(--button);
    text-decoration: none;
    border: none;
}
.info-slider-link{
    margin-top: 97px;
    margin-left: 24px;
    display: inline-flex;
    min-width: 144px;
}
.button:hover{
    background-color: var(--button--hover);
}
.button:focus{
    background-color: var(--button--hover);
}
.button:active {
    background-color: var(--button--active);
}
.slider--shadow-box{
    width: 620px;
    height: 104px;
    box-shadow: 0px 0px 5px  var(--box-shadow--slider);
}
.slide-close {
    display: none;
  }
  .slide-current {
    display: block;
  }
  .slider-controls {
    position: absolute;
    top: 220px;
    left: 295px;
    display: flex;
    width: 30px;
    justify-content: space-between;
  }

  .slider-controls--button {
    padding: 0;
    width: 10px;
    height: 10px;
    background-color: var(--white);
    border: 2px solid var(--white);
    border-radius: 50%;
    cursor: pointer;
  }
.slider--icon{
    position: relative;
}
  .slider--icon-left{
      position: absolute;
      display: block;
      width: 22px;
      height: 40px;
      background-image: url("../img/icon-left-slider.svg");
      background-repeat: no-repeat;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      top: -144px;
      left: 24px;

  }
  .slider--icon-right{
      position: absolute;
      display: block;
      width: 22px;
      height: 40px;
      background-image: url("../img/icon-right-slider.svg");
      background-repeat: no-repeat;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      top: -144px;
      left: 578px;
  }


  .current-button {
    background-color: var(--basic-red);
  }

.interactive-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    height: 89px;
    background-color: var(--stile-background);
}
.interactive-heading--title {
    color: var(--text);
    padding-left: 28px;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
}
.interactive-heading--link{
    margin:0 14px;
    min-width: 144px;
}
.catalog {
    margin-bottom: 41px;
}
.catalog-list {
    list-style: none;
    padding: 0;
}
.main-catalog-list {
    display: grid;
    width: 940px;
    grid-template-columns: 220px 220px 220px 220px;
    gap: 20px;
}
.catalog-item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 220px;
    min-height: 318px;
    border: 1px solid var(--catalog-item--border);
    padding:0 10px 19px;
}
.catalog-item:hover{
    box-shadow: 0px 4px 20px var(--manufact-img--box-shadow)
}
.catalog-subtitle {
    margin: 0 0 8px;
    padding: 0 10px;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}

.catalog-strike {
    margin: 0 0 14px;
    padding: 0 10px;
    font-family: "PT Sans";
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;

    text-align: center;
    color: var(--strike)
}
.catalog-link {
    display: inline-flex;
    align-self: flex-start;
    box-sizing: border-box;
    margin-left: 36px;
    margin-top: auto;
    /*
    то что было до подгонки
    padding: 11px 20px;
    */
    /* подгонка под макет */
    padding: 10px 48px 10px 32px;
    width: 141px;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 700;
    border-radius: 3px;
    -webkit-mask-image: url("../img/red-button.svg");
        mask-image: url("../img/red-button.svg");
    -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
    -webkit-mask-size: cover;
	    mask-size: cover;
    -webkit-mask-position: right;
	    mask-position: right;


}


.catalog-image--box {
    margin: 0 0 10px;
    display: grid;
    place-content: center;
    transform-style: preserve-3d;
    transition: transform .7s;
    transition-property: transform;
    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-delay: 0s;
    -webkit-perspective: 900px;
        perspective: 900px;


}
.catalog-item:hover .catalog-image--box {
    transform: rotateY(180deg);
}
.catalog-item:focus-within .catalog-image--box {
    transform: rotateY(180deg);
}
.catalog-img {
    display: block;
    -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    grid-row: 1/2;
    grid-column: 1/2;
}
.catalog-img--back {
    display: block;
    -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    transform: rotateY(180deg);
    width: 218px;
    height: 170px;
    grid-row: 1/2;
    grid-column: 1/2;
}
.catalog-image--link{
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 38px;
    box-sizing: border-box;
    padding: 10px 20px;

}
.catalog-buy {
    margin: 38px auto 0;
    color: var(--white);
    background-color: var(--catalog-buy--background);
    box-shadow: inset 0px -3px 0px var(--catalog-buy--shadow);
    border-radius: 2px;
    position: relative;
    padding-left: 32px;
}

.catalog-buy::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url("../img/header/icon-cart.svg");
    background-repeat: no-repeat;
    left: 28px;
    top: 10px;
    margin-right: 3px;
    opacity: 0.3;
}
.catalog-buy:hover {
    background-color: var(--catalog-buy--background---hover);
}
.catalog-buy:focus {
    background-color: var(--catalog-buy--background---hover);
}
.catalog-buy:active {
    background-color: var(--catalog-buy--background---active);
}
.catalog-bookmarks {
    margin: 10px auto 0;
    color: var(--text);
    border: 3px solid var(--catalog-bookmarks);
    box-sizing: border-box;
    border-radius: 2px;
}
.catalog-bookmarks:hover {
    border: 3px solid var(--catalog-bookmarks--hover);
}
.catalog-bookmarks:focus {
    border: 3px solid var(--catalog-bookmarks--hover);
}
.catalog-bookmarks:active {
    box-shadow: 0px 4px 20px var(--box-shadow);
    border: 3px solid var(--box-shadow);
}



.manufact {
    margin-top: 72px;
    margin-bottom: 70px;
}
.manufact-list {
    list-style: none;
    padding-left: 0;
    display: grid;
    width: 940px;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 145px 145px;
    gap: 20px;
}
.manufact-img {
    border: 1px solid var(--manufact-item--border);
}
.manufact-img:hover {
    box-shadow: 0px 4px 20px var(--manufact-img--box-shadow);
}
.manufact-img:active {
    opacity: 0.5;
    box-shadow: 0px 4px 20px var(--manufact-img--box-shadow);
}


/* Сервисы */

.services {
    background-color: var(--basic-background);
    padding-bottom: 82px;
}
.services-box {
    display: grid;
    grid-template-columns: 240px 1fr;
    justify-self: end;
}
.services-block {
    grid-column: 1 / -1;
}
.services-slider {
    padding-top: 39px;
    padding-left: 80px;

}
.services-title {
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    font-weight: 400;
    margin-top: 66px;
}
.services-text {
    padding: 0;
    margin: 0;
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
    text-align: left;
}
.services-list {
    list-style: none;
    padding-left: 0;
    margin-top: 70px;
    position: relative;
}
.services-list::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 279px;
    background-image: url("../img/slider-shadow.png");
    background-repeat: no-repeat;
    right: 0px;
    top:-50px;
    pointer-events:none;
}
.services-item {
    padding-left: 22px;
    padding-top: 14px;
    width: 218px;
    height: 47px;
    background-color: var(--services-item--background);
    color: var(--white);
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    box-shadow: 0px 1px 0px 0px rgba(41, 52, 73, 1),
        0px -1px 0px 0px rgba(64, 80, 105, 1) inset;

}
.services-item:active {
    background-color: var(--services-item--background---active);
    color: var(--text);
    box-shadow: 0px 1px 0px 0px var(--white),
                0px -1px 0px 0px var(--white);
}
.services-item-active{
    background-color: var(--services-item--background---active);
    color: var(--text);
    box-shadow: 0px 1px 0px 0px var(--white),
                0px -1px 0px 0px var(--white);
}
.services-item:not(.services-item-active):hover{
    background-color: var(--services-item--background---hover);
    color: var(--white);
}
.services-subtitle {
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    color: var(--text);
    font-weight: 400;
}
.services-text {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
    text-align: left;
}

/* слайды*/

.services-delivery,
.services-guarantee,
.services-credit{
    position: relative;
}

.services-slid-close{
    display: none;
}
.services-delivery::before {
    content: "";
    position: absolute;
    background-image: url("../img/contacts/delivery.png");
    background-repeat: no-repeat;
    width: 468px;
    height: 261px;
    right: 0px;
    top: 20px;
}


.services-guarantee--subtitle{
    margin-bottom: 22.5px;
}
.services-guarantee::before {
    content: "";
    position: absolute;
    background-image: url("../img/contacts/guarantee.png");
    background-repeat: no-repeat;
    width: 389px;
    height: 283px;
    right: -8px;
    top: -2px
}


.services-credit--link {
    margin-top: 24px;
    display: inline-flex;
    min-width: 147px;
}
.services-credit::before {
    content: "";
    position: absolute;
    background-image: url("../img/contacts/credit.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 465px;
    height: 285px;
    right: -10px;
    top: -2px;
}

/* Компания Техномарт */

.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 48px auto 70px;
}

.details-contacts {
    justify-self: end;
}
.details-tittle {
    margin-bottom: 23px;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    font-weight: 400;
}
.details-text-down{
    margin: 27px 0 4px;
}
.details-text {
    padding: 0;
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
    text-align: left;
}
.details-list {
    margin: 0;
    padding-left: 32px;
    list-style: none
}
.details-items {
    margin-bottom: 12px;
    text-align: left;
    padding-left: 5px;
    position: relative;
}
.details-items::before{
    content: "";
    position: absolute;
    background-image: url("../img/details-list.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 2px;
    left: -32px;
    top: 10px;
}
.details-map {
    margin-top: 19px;
}
.details-about-link {
    min-width: 172px;
    margin-top: 7px;
    display: inline-flex;
}
.details-contacts-link {
   min-width: 100px;
   margin-top: 18px;
}

/* ПОДВАЛ */

.main-footer{
    background-color: var(--header-top);
}
.footer-top {
    background-color: var(--text);
}
.logo-footer {
    height: 68px;
}
.logo-img--footer{
    padding-bottom: 5px;
}
.footer-top--container {
    display: flex;
    justify-content: space-between;
}
.site-contact--footer {
    width: 339px;
    height: 49px;
    margin-top: 12px;
    margin-bottom: 70px;
}
.footer-navigation-up {
    width: 546px;
    margin-top: 37px;
}
.footer-navigation-down {
    width: 524px;
    margin-top: 18px;
}
.footer-navigation {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.footer-navigation--link{
    text-align: left;
    text-decoration: none;
}
.footer-navigation--link:active {
    opacity: 0.5;
}
.footer-navigation--link:hover,
.footer-navigation--link:focus {
    text-decoration: underline;
}

.up{
    color: var(--basic-background)
}
.down{
    color: var(--footer-nav-down)
}
.text-address {
    margin: 0;
    padding: 0;
    align-items: center;
    color: var(--text-address)
}
.shop-phone-footer {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.footer-down--container {
    display: flex;
    justify-content: space-between;
}
.responsiveness{
    display: flex;
    margin-left: 1px;
}
.responsiveness-developed{
    margin-left: 51px;
    margin-right: 15px;

}
.content{
    margin-right: 7px;
}
.content--text {
    font-size: 16px;
    text-align: left;
    color: var(--white);
}
.socials-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 134px;
    margin-top: 18px;
}
.socials-link {
    background-color: var(--socials-link);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.socials-link:hover,
.socials-link:focus,
.socials-link:active {
    background-color: var(--socials-link--act-hov);
}

.responsiveness-link {
    display: block;
    color: var(--footer-nav-down);
    text-decoration: none;
}
.responsiveness-link:hover,
.responsiveness-link:focus {
    text-decoration: underline;
}
.responsiveness-link:active {
    color: var(--basic-red);
}





/*
catalog
*/


.page-catalog {
    display: grid;
    grid-template-columns: 220px 1fr;
    align-content: start;
}
.page--catalog-title {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 911px;
    height: 89px;
    margin: 0;
    padding-left: 29px;
}

.filters-sorting {
    margin-top: 20px;
    margin-left: 20px;
    grid-column: 2 / -1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 700px;
    height: 38px;
    background-color: var(--filters-item--background);
}
.filters {
    grid-row: 3/5;
}
.page--catalog-list{
    display: grid;
    width: 700px;
    grid-template-columns: 220px 220px 220px;
    row-gap: 17px;
    column-gap: 20px;
    margin-left: 20px;
    margin-top: 27px;
}
/* хлебные крошки */
.container-list {
    list-style: none;
    margin-top: 19px;
    padding: 0;
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}
.icon-home {
    position: relative;
    display: block;
    margin-right: 55px;
}
.icon-home::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0px;
    width: 14px;
    height: 12px;
    background-image: url("../img/filtr/icon-home.svg");
    background-repeat: no-repeat;
}
.icon-next {
    position: relative;
}
.icon-next::before{
    content: "";
    position: absolute;
    left: -25.61px;
    top: 3px;
    width: 8px;
    height: 11px;
    background-image: url("../img/filtr/icon-right-small.svg");
    background-repeat: no-repeat;
    pointer-events: none;
    cursor: default;
}

.container-link {
    margin-right: 41px;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-decoration: none;
    color: var(--black);
}


.catalog-title {
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    background-color: var(--basic-background);
    color: var(--text);
    font-weight: 400;
}


.filters-sorting-title {
    padding-left: 20px;
    margin-right: 140px;
}

.filters-sorting--list {
    margin-bottom: 20px;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    width: 458px;


}
.filters-item-price {
    margin-right: 70px;
}
.filters-item-type {
    margin-right: 65px;
}
.filters-item-functional{
    margin-right: 46px;
}
.filters-link {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    text-decoration-style: dotted;
    text-decoration-color: var(--basic-red);
    color: var(--black);
    opacity: 0.3;
}
.filters-link:hover,
.filters-link:focus {
    opacity: 1;
    text-decoration-style: solid;
}

.filters-link.active,
.filters-link:active {
    opacity: 1;
    text-decoration: none;
    color:  var(--basic-red);
}
.filters-icon-up,
.filters-icon-down {
    position: relative;
    display: block;
}

.filters-icon-up::before,
.filters-icon-down::before {
    content: "";
    width: 11px;
    height: 10px;
    background-repeat: no-repeat;
    position: absolute;
    filter: saturate(0) invert(100%);
    opacity: 0.6;
}
.filters-icon-up::before{
    background-image: url("../img/filtr/icon-up.svg");
    top: 8px;
    left: 1px;
}
.filters-icon-down::before{
    background-image: url("../img/filtr/icon-down.svg");
    top: 8px;
    right: -44px;
}
.filters-icon-up:hover:before,
.filters-icon-down:hover:before{
    opacity: 1;
    filter:  brightness(0);
}
.filters-icon-up:focus:before,
.filters-icon-down:focus:before{
    opacity: 1;
    filter:  brightness(0);
}
.filters-icon-up.active:before,
.filters-icon-down.active:before,
.filters-icon-up:active:before,
.filters-icon-down:active:before
{
    opacity: 1;
    filter: none;
}




.filters-list {
    padding-left: 0;
    list-style: none;
    margin-top: 18px;
}

.filters-title--filter {
    margin-top: 20px;
    padding-left: 18px;
    display: flex;
    align-items: center;
    width: 202px;
    height: 38px;
    background-color: var(--filters-item--background);
}
.filter-legeng {
    font-family: "PT Sans";
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    margin: 0;
    padding: 0;

}
.filters-title {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
}

.filters-fieldset {
    margin: 0;
    padding: 0;
    border: none;
    width: 220px;
  }
.filter-fieldset--price{
    margin-top: 13px;
    border-bottom: 1px solid var(--catalog-item--border);
    padding-bottom: 25px;
}
.filter-fieldset--producers{
    margin-top: 16px;
    border-bottom: 1px solid var(--catalog-item--border);
    padding-bottom: 8px;
}
.filter-fieldset--power{
    margin-top: 17px;
}

  .range-filter {
    width: 220px;
    margin-top: 11px;
    padding: 0;
  }
  .range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 8px;
    padding: 39px 20px 1px 20px;
    background-color: var(--range-filter--background);
    border-radius: 5px;
  }

  .range-controls .scale {
    height: 2px;
    background: var(--basic-greylight);
  }

  .range-controls .bar {
    width: 70%;
    height: 2px;
    background: var(--basic-green);
  }

  .range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--white);
    background-color: var(--range-control--background);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--basic-greylight);
    cursor: pointer;
  }

  .range-controls .toggle-min {
    left: 18px;
  }

  .range-controls .toggle-max {
    left: 160px;
  }

  .price-controls {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .price-controls::before{
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 1px;
    background-color: var(--price-control-dash);
    bottom: 17px;
    right: 105px;

  }
  .price-controls label {
    text-transform: uppercase;
    font-family: "PT Sans";
    font-size: 17px;
    line-height: 18px;
    text-align: center;
  }

  .price-controls input {
    box-sizing: border-box;
    width: 95px;
    height: 38px;
    padding: 10px 8px 10px 22px;
    margin-right: 30px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background: var(--range-filter--background);
    font-family: inherit;
    font-size: inherit;
  }

  .filter-legeng{
      position: relative;
  }
  .filter-legeng::before{
    content: "";
    position: absolute;
    width: 220px;
    height: 1px;
    background-image: url("../img/fieldset-end.svg");
    background-repeat: no-repeat;
  }

.filter-label {
    font-family: "PT Sans";
    font-size: 15px;
    line-height: 19px;
}
.filter-button {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    width: 220px;
    height: 38px;
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--filter-button--border);
    text-decoration: none;
    margin-top: 19px;
}
.filter-legeng-power{
    margin-bottom: 5px;
}
.filter-option {
    margin-bottom: 20px;
    padding-left: 35px;
  }
  .filter-option--radio {
    margin-bottom: 22px;
}
.filter-option,
.filter-label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox + .filter-label::before {
    content: "";
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    opacity: 0.7;
    position: absolute;
    left: -35px;
    top: -2px;
}
.filter-input-checkbox + .filter-label:hover:before {
    opacity: 1;
}
.filter-input-checkbox:checked + .filter-label::before {
    content: "";
    width: 26px;
    height: 25px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    opacity: 0.7;
    position: absolute;
    left: -35px;
    top: -2px;
  }
.filter-input-checkbox:checked + .filter-label:hover::before{
    opacity: 1;
}

.filter-input-radio + .filter-label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -1px;
    width: 17px;
    height: 17px;
    border: 4px solid var(--basic-greylight);
    border-radius: 50%;
}
.filter-input-radio + .filter-label:hover:before{
    border: 4px solid var(--input--hover);
}
.filter-input-radio:checked + .filter-label::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -27.5px;
    width: 9px;
    height: 9px;
    background-color: var(--basic-greylight);
    border-radius: 50%;
}
.filter-input-radio + .filter-label:hover::after{
    background-color: var(--input--hover);
}

.filter-input-checkbox:focus + .filter-label{
    color: var(--basic-red);
}
.filter-input-radio:focus + .filter-label{
    color: var(--basic-red);
}
.disabled {
    opacity: 0.3;
}




.tool-information {
    background-color: var(--basic-background);
    padding-top: 40px;
    padding-bottom: 56px;
}
.tool-information--text{
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
    text-align: left;
}
.catalog-page--list{
    margin-left: 20px;
    margin-top: 48px;
    padding: 0;
    list-style: none;
    display: flex;
    width: 284px;
    justify-content: space-between;
}
.page-number {
    display: flex;
    width: 38px;
    height: 38px;
    justify-content: center;
    align-items: center;
}
.page-next {
    display: flex;
    width: 140px;
    height: 38px;
    justify-content: center;
    align-items: center;
}
.catalog-page-link {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    color: var(--black);
    border: 1px solid var(--catalog-page--border);
    box-sizing: border-box;
    border-radius: 2px;
}
.catalog-page-link:hover {
    border: 1px solid var(--catalog-page--border---hover);
}
.catalog-page-link:focus {
    border: 1px solid var(--catalog-page--border---hover);
}
.catalog-page-link:active {
    border: 1px solid var(--catalog-page--border---active);
}
.page-number-active {
    background-color: var(--basic-red);
    color: var(--white);
}



/* всплывающие окна*/



.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: var(--white);
    box-shadow: inset 0px 7px 0px var(--basic-red),
              inset 0px -112px 0px var(--feedback);
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.75));
  }
  .modal-close {
    position: absolute;
    z-index: 1;
    width: 22px;
    height: 22px;
    top: 20px;
    right: 13px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 1px;
  width: 27px;
  height: 5px;
  background-color: var(--basic-red);
}
.modal-close::before {
    transform: rotate(45deg);
}
.modal-close::after {
    transform: rotate(-45deg);
}



.modal-show {
    display: block;
    animation: bounce 0.6s;
}
.modal-error {
    animation: shake 0.6s;
  }

/* map */


.modal-map {
    width: 939px;
    height: 449px;
    padding-top: 7px;
}
.modal-map iframe {
    border: none;
  }


/* index*/

.feedback-section {
    width: 620px;
    height: 430px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    color: var(--strike);
    border: 2px solid var(--basic-greylight)
}

.feedback-form {
    margin: 0 auto;
    padding-top: 47px;
    display: flex;
    width: 460px;
    height: 211px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feedback-label{
    display: block;
    margin-bottom: 11px;
    padding: 0;
 }
 .feedback-input {
    width: 203px;
    height: 31px;
    padding-left: 12px;
    margin: 0;
}
.feedback-textarea{
    width: 442px;
    height: 102px;
    padding-left: 12px;
    padding-top: 5px;

}
.feedback-paragraph {
    margin: 0;
    padding: 0;
}
.feedback-paragraph--down {
    margin-top: 13px;
}
.feedback-button {
    width: 460px;
    height: 38px;
    margin-top: 69px;
    font-family: "Cuprum";
}


/* catalog*/


.popup-cart {
    width: 620px;
    height: 282px;
}
.popup-cart-down {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.popup-cart--text {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    padding-top: 73px;
    padding-bottom: 105px;
    margin: 0;
}
.checkout-button{
    width: 144px;
    margin-left: 115px;
}
.continue-button {
    width: 144px;
    margin-left: 10px;
    color: var(--black);
    background-color: var(--white);
}
.popup-cart--image {
    position: relative;
}
.popup-cart--image::before{
    content: "";
    position: absolute;
    width: 66px;
    height: 66px;
    background-image: url("../img/icon-mark.svg");
    background-repeat: no-repeat;
    left: 82px;
    top: 54px;
}

/* Animations */

@keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }

    70% {
      transform: translateY(30px);
    }

    90% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
  }
